<div class="breadcrumbs col-xs-12">
  <span> <a href="/search?floor=<%- floor %>"> <%- floor %> </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>"> <%- room %>  </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>&location=<%- location %>"> <%- location %>  </a></span> >
  <span> <a href="/search?fixture=<%- fixture %>"> <%- fixture %> </a></span>
</div>
<% if (uuid) { %>
  <div class="well col-xs-12">
<% } else { %>
  <div class="well faded col-xs-12">
<% } %>
  <div class="col-xs-2">
    <% if (picture === undefined || picture === '') { %>
      <img class="itemImg" src="noImg.png" />
    <% }else{ %>
      <img class="itemImg" src=" <%- picture %> " />
    <%}%>
  </div>
  <div class="itemTitle col-xs-8">
    <% if (uuid) { %>
      <h4 > <a href="/<%- uuid %>" style="font-weight: bold"> <%- fixture %> </a> </h4>
    <% } else { %>
      <h4> <span style="font-weight: bold"> <%- fixture %> </span></h4>
    <% } %>
    <span style="font-style: italic"> <%- model %> </span>
  </div>
  <div class="itemImg col-xs-2">
    <% if (status === 'broken') { %>
      <span class="glyphicon glyphicon-wrench" title="Status: <%- status %>" alt="<%- status %>" style="color:red"></span>
    <%}%>
  </div>
</div>
