<div class="col-xs-12">
  <span> <a href="/search?floor=<%- floor %>"> <%- floor.toLowerCase() %> </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>"> <%- room.toLowerCase() %>  </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>&location=<%- location %>"> <%- location.toLowerCase() %>  </a></span> >
  <span> <a href="/search?fixture=<%- fixture %>"> <%- fixture.toLowerCase() %> </a></span>
</div>
<% if (uuid) { %>
  <div class="card col-xs-12">
<% } else { %>
  <div class="card faded col-xs-12">
<% } %>
  <div class="col-xs-4">
    <% if (picture === undefined || picture === '') { %>
      <% if (uuid) { %>
        <a href="/<%- uuid %>"> <img class="itemImg" src="noImg.png" /> </a>
      <% } else { %>
        <img class="itemImg" src="noImg.png" />
      <% } %>
    <% }else{ %>
      <% if (uuid) { %>
        <a href="/<%- uuid %>"><img class="itemImg" src=" <%- picture %> " /> </a>
      <% } else { %>
        <img class="itemImg" src=" <%- picture %> " />
      <% } %>
    <% } %>
  </div>
  <div class="itemTitle col-xs-4">
    <% if (uuid) { %>
      <a href="/<%- uuid %>"> <%- fixture.bold() %> </a>
    <% } else { %>
      <%- fixture.bold() %>
    <% } %>
    <div style="font-size: 0.75em"> <%- model.italics() %> </div>
  </div>
  <div class="col-xs-4" style='text-align: center'>
    <% if (status === 'broken') { %>
      <img class="status" title="Status: <%- status %>" alt="<%- status %>" style="color:red" src="wrench.png" />
    <% } %>
  </div>
</div>
