<% if (HOWTO) { %>
  <article class="card col-xs-12">
    <div class="infoTitle">How To</div>
    <%- HOWTO %>
  </article>
<% } %>
<% if (Troubleshooting) { %>
  <article class="card col-xs-12">
    <div class="infoTitle">Need Help</div>
    <%- Troubleshooting %>
  </article>
<% } %>
<% if ( similarItems.length > 0 ) { %>
  <div class="card col-xs-12">
    <div class="infoTitle">Similar Items</div>
    <div class='miniSearchItem'>
      <% for (var i = 0; i < similarItems.length; i++) { %>
        <% if (!similarItems[i].picture) { %>
          <% if (!similarItems[i].uuid) { %>
            <img class="miniItemImg faded" src="noImg.png" id='miniImg<%- i %>' />
          <% }else{ %>
            <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" id='miniImg<%- i %>'/> </a>
          <%}%>
        <% } else{ %>
          <% if (!similarItems[i].uuid) { %>
            <img class="miniItemImg faded" src=" <%- similarItems[i].picture %> " id='miniImg<%- i %>'/>
          <% }else{ %>
            <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- similarItems[i].picture %> " id='miniImg<%- i %>'/> </a>
          <% } %>
        <% } %>
      <% } %>
    </div>
  </div>
<% } %>
<article class="card col-xs-12">
  <div class="infoTitle">Details</div>
  <%- details %>
  <ul>
    <li>model: <%- model %></li>
    <li>serial: <%- serial %></li>
    <li>owner: <%- owner %></li>
    <li>UUID: <%- uuid %></li>
  </ul>
</article>
