<article class="well">
  <h2>How To</h2>
  <div>
    <%- matches[0].HOWTO %>
  </div>
</article>
<article class="well">
  <h2>Need Help</h2>
  <div>
    <%- matches[0].Troubleshooting %>
  </div>
</article>
<article class="well">
  <h2>Extra Info</h2>
  <div>
    <%- matches[0].details %>
    UUID: <%- matches[0].uuid %>
  </div>
</article>
<article class="well">
  <h2>Similar Items</h2>
  <div>
    <% for(var i = 0; i < matches.similarItems.length; i++){ %>
      <div class='miniSearchItem col-xs-4'>
        <% if (matches.similarItems[i].picture === undefined || matches.similarItems[i].picture === '') { %>
          <a href="/<%- matches.similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" /> </a>
        <% }else{ %>
          <a href="/<%- matches.similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- matches.similarItems[i].picture %> " /> </a>
        <%}%>
        <!-- <h6>
          <a href="/<%- matches.similarItems[i].uuid %>"> <%- matches.similarItems[i].fixture.toUpperCase() %> </a>
        </h6> -->
      </div>
    <%}%>
  </div>
</article>
