<article class="col-xs-12">
  <h3>How To</h3>
  <div class="infoSection col-xs-11 col-xs-offset-1">
    <%- matches[0].HOWTO %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Need Help</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <%- matches[0].Troubleshooting %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Extra Info</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <%- matches[0].details %>
    UUID: <%- matches[0].uuid %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Search Similar Items</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <span> <a href="/search?fixture=<%- matches[0].fixture %>"> <%- matches[0].fixture.toLowerCase() %> </a></span>
    <%- matches.similarItems %>
  </div>
</article>
