<% if (HOWTO) { %>
  <article class="well col-xs-12">
    <h2>How To</h2>
    <%- HOWTO %>
  </article>
<%}%>
<% if (Troubleshooting) { %>
  <article class="well col-xs-12">
    <h2>Need Help</h2>
    <%- Troubleshooting %>
  </article>
<% } %>
<% if ( similarItems.length > 0 ) { %>
  <article class="well col-xs-12">
    <h2>Similar Items</h2>
      <% for(var i = 0; i < similarItems.length; i++){ %>
        <div class='miniSearchItem col-xs-4'>
          <% if (!similarItems[i].picture) { %>
            <% if (!similarItems[i].uuid) { %>
              <img class="miniItemImg faded" src="noImg.png" />
            <% }else{ %>
              <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" /> </a>
            <%}%>
          <% } else{ %>
            <% if (!similarItems[i].uuid) { %>
              <img class="miniItemImg faded" src=" <%- similarItems[i].picture %> " />
            <% }else{ %>
              <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- similarItems[i].picture %> " /> </a>
            <%} %>
          <% } %>
         </div>
      <% } %>
  </article>
<%}%>
<article class="well col-xs-12">
  <h2>Problems?</h2>
  <p>Not working? Something missing? Is it about to explode? <b>Submit a ticket</b> and we'll get to fixing it ASAP.</p>
  <a href="https://toy-ticket-heroku.herokuapp.com/problem/add/?uuid=<%- uuid %>"><button>Submit</button></a>
</article>
<article class="well col-xs-12">
  <h2>Details</h2>
  <%- details %>
  <ul>
    <li>model: <%- model %></li>
    <li>serial: <%- serial %></li>
    <li>owner: <%- owner %></li>
    <li>UUID: <%- uuid %></li>
  </ul>
</article>
