<% if (HOWTO) { %>
  <article class="well col-xs-12">
    <h2>How To</h2>
    <div>
      <%- HOWTO %>
    </div>
  </article>
<%}%>
<% if (Troubleshooting) { %>
  <article class="well col-xs-12">
    <h2>Need Help</h2>
    <div>
      <%- Troubleshooting %>
    </div>
  </article>
<% } %>
<% if ( similarItems.length > 0 ) { %>
  <article class="well col-xs-12">
    <h2>Similar Items</h2>
    <div>
      <% for(var i = 0; i < similarItems.length; i++){ %>
        <div class='miniSearchItem col-xs-4'>
          <% if (similarItems[i].picture === undefined || similarItems[i].picture === '') { %>
            <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" /> </a>
          <% }else{ %>
            <a href="/<%- similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- similarItems[i].picture %> " /> </a>
          <%}%>
        </div>
      <% } %>
    </div>
  </article>
<%}%>
<article class="well col-xs-12">
  <h2>Details</h2>
  <%- details %>
  <ul>
    <li>model: <%- model %></li>
    <li>serial: <%- serial %></li>
    <li>owner: <%- owner %></li>
    <li>UUID: <%- uuid %></li>
  </ul>
</article>
