<article class="col-xs-12">
  <h3>How To</h3>
  <div class="infoSection col-xs-11 col-xs-offset-1">
    <%- matches[0].HOWTO %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Need Help</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <%- matches[0].Troubleshooting %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Extra Info</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <%- matches[0].details %>
    UUID: <%- matches[0].uuid %>
  </div>
</article>
<article class="col-xs-12">
  <h3>Similar Items</h3>
  <div class='infoSection col-xs-11 col-xs-offset-1'>
    <% for(var i = 0; i < matches.similarItems.length; i++){ %>
      <div class='miniSearchItem col-xs-4'>
        <% if (matches.similarItems[i].picture === undefined || matches.similarItems[i].picture === '') { %>
          <a href="/<%- matches.similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" /> </a>
        <% }else{ %>
          <a href="/<%- matches.similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- matches.similarItems[i].picture %> " /> </a>
        <%}%>
        <!-- <h6>
          <a href="/<%- matches.similarItems[i].uuid %>"> <%- matches.similarItems[i].fixture.toUpperCase() %> </a>
        </h6> -->
      </div>
    <%}%>
  </div>
</article>
