<% if (matches[0].HOWTO) { %>
  <article class="well col-xs-12">
    <h2>How To</h2>
    <div>
      <%- matches[0].HOWTO %>
    </div>
  </article>
<%}%>
<% if (matches[0].Troubleshooting) { %>
  <article class="well col-xs-12">
    <h2>Need Help</h2>
    <div>
      <%- matches[0].Troubleshooting %>
    </div>
  </article>
<% } %>
<% if ( matches[0].similarItems.length ) { %>
  <article class="well col-xs-12">
    <h2>Similar Items</h2>
    <div>
      <% for(var i = 0; i < matches[0].similarItems.length; i++){ %>
        <div class='miniSearchItem col-xs-4'>
          <% if (matches[0].similarItems[i].picture === undefined || matches[0].similarItems[i].picture === '') { %>
            <a href="/<%- matches[0].similarItems[i].uuid %>"> <img class="miniItemImg" src="noImg.png" /> </a>
            <div class="miniItemDesc"><%-matches[0].similarItems[i].model %></div>
          <% }else{ %>
            <a href="/<%- matches[0].similarItems[i].uuid %>"> <img class="miniItemImg" src=" <%- matches[0].similarItems[i].picture %> " /> </a>
            <div class="miniItemDesc"><%-matches[0].similarItems[i].model %></div>
          <%}%>
        </div>
      <% } %>
    </div>
  </article>
<%}%>
<article class="well col-xs-12">
  <h2>Details</h2>
  <%- matches[0].details %>
  <ul>
    <li>model: <%- matches[0].model %></li>
    <li>serial: <%- matches[0].serial %></li>
    <li>owner: <%- matches[0].owner %></li>
    <li>UUID: <%- matches[0].uuid %></li>
  </ul>
</article>
