<div class="breadcrumbs">
  <span> <a href="/search?floor=<%- floor %>"> <%- floor %> </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>"> <%- room %>  </a></span> >
  <span> <a href="/search?floor=<%- floor %>&room=<%- room %>&location=<%- location %>"> <%- location %>  </a></span> >
  <span> <a href="/search?fixture=<%- fixture %>"> <%- fixture %> </a></span>
</div>
<% if (uuid) { %>
  <div class="card">
<% } else { %>
  <div class="card faded">
<% } %>
  <div class="image">
    <% if (picture === undefined || picture === '') { %>
      <% if (uuid) { %>
        <a href="/<%- uuid %>"> <img class="itemImg" src="noImg.png" /> </a>
      <% } else { %>
        <img class="itemImg" src="noImg.png" />
      <% } %>
    <% }else{ %>
      <% if (uuid) { %>
        <a href="/<%- uuid %>"><img class="itemImg" src=" <%- picture %> " /> </a>
      <% } else { %>
        <img class="itemImg" src=" <%- picture %> " />
      <% } %>
    <% } %>
  </div>
  <div class="itemTitle">
    <% if (uuid) { %>
      <div class="center">
        <a href="/<%- uuid %>"> <%- fixture %> </a>
    <% } else { %>
      <div class="center">
      <%- fixture %>
    <% } %>
    <div class="subTitle"> <%- model %> </div>
    </div>
  </div>
  <div class="image right">
    <% if (status === 'broken') { %>
      <img class="img status" title="Status: <%- status %>" alt="<%- status %>" src="wrench.png" />
    <% } %>
  </div>
</div>
