<div class="well col-xs-12">
    <div class="col-xs-2">
        <img src=" <%- picture %> " class="itemImg" title=" <%- fixture %> " alt=" <%- fixture %> " />
    </div>
    <div class="itemTitle col-xs-8">
        <h4> <%- fixture.toUpperCase().bold() %> </h4>
        <%- model.toLowerCase().italics() %>
    </div>
    <div class="col-xs-2">
        <% if (status  === 'broken') { %>
            <span class="glyphicon glyphicon-wrench" title="Status: <%- status %>" alt="<%- status %>" style="color:red"></span>
            <% }else if (status  === 'working') { %>
                <% }else{ %>
                    <span class="glyphicon glyphicon-question-sign" title="Status: unknown" alt="status unknown" style="color:grey"></span>
                    <%}%>
    </div>
</div>
