    <% include ./partials/header %>

        <div class="item">
        </div>
    <h1> <%- fixture %></h1>
        <%- model %>
    <%- picture %>
        <%- HOWTO %>
    <%- Troubleshooting %>
    <%- uuid %>
    <%- status %>
    <%- details %>

    <% include ./partials/footer %>
