<% include ./partials/header %>
<div class="resultContainer">
  <center>
    <% for ( var i = 0; i < matches.length; i++) {%>
      <div class="sticker">
        <div class="breadcrumbs">
          <%- matches[i].floor %> >
          <%- matches[i].room %> >
          <%- matches[i].location %> >
          <%- matches[i].fixture %>
        </div>
        <%- matches[i].qr %>
        <%- matches[i].uuid %>
      </div>
    <% } %>
  </center>
</div>
<% include ./partials/footer %>
