<% include ./partials/header %>
<div class="col-xs-12">
  <% for ( var i = 0; i < matches.length; i++) {%>
    <div class="stickers col-xs-3">
      <div class="col-xs-12">
        <%- matches[i].floor %> >
        <%- matches[i].room %> >
        <%- matches[i].location %> >
        <%- matches[i].fixture %>
      </div>
      <div class="col-xs-12">
        <%- matches[i].qr %>
      </div>
      <div class="col-xs-12">
        <center>
          <%- matches[i].uuid %>
        </center>
      </div>
    </div>
  <% } %>
</div>
<% include ./partials/footer %>
