<% include ./partials/header %>
<div class="resultContainer col-xs-12">
  <h1>Recently scanned QR code</h1>
  <article class="col-xs-12">
    <h2>Not Found</h2>
    <ul>
      <% for(var i = 0; i<data.unassigned.length; i++){%>
        <li class='recent-list'>
        <%- data.unassigned[i].time %> - <%- data.unassigned[i].fixture %>:  <br />
        <div style="font-size: 0.9em"><%- data.unassigned[i].uuid %></div>
        </li>
      <%}%>
    </ul>
  </article>
  <article class="col-xs-12">
    <h2>Recent Item</h2>
    <ul>
      <% for(var i = 0; i<data.assigned.length; i++){%>
        <li class='recent-list'>
          <%- data.assigned[i].time %> - <%- data.assigned[i].fixture %>: <br />
          <a href="/<%- data.assigned[i].uuid %>" style="font-size:0.9em"> <%- data.assigned[i].uuid %> </a>
        </li>
      <%}%>
    </ul>
  </article>
</div>
<% include ./partials/footer %>
