<% include ./partials/header %>
<h1>Recently scanned QR codes</h1>
<article class="col-xs-12">
  <ul class='recent-list'>
    <% for (var i = 0; i < allScans.length; i++) { %>
      <li>
        <% if (allScans[i].fixture) { %>
          <a href="/<%- allScans[i].uuid %>"> <%- allScans[i].time.toTimeString() %> - <%- allScans[i].fixture %> </a> :<br/>
        <% } else { %>
          <a href="/<%- allScans[i].uuid %>" style="color: <%- allScans[i].status === 'fixed' ? 'orange' : 'red' %>"> <%- allScans[i].time.toTimeString() %> - Missing Details! </a> :<br/>
        <% } %>
        <%- allScans[i].uuid %>
        <% if (allScans[i].double) { %>
          <span style="color: red" >
            Duplicate UUID!
          </span>
        <% } %>
      </li>
    <% } %>
  </ul>
</article>
<% include ./partials/footer %>
