<% include ./partials/header %>
<h1>Recently scanned QR codes</h1>
<article class="col-xs-12">
  <ul class='recent-list'>
    <% for (let item of allScans.values()) { %>
      <li>
        <%- item.time.toTimeString() %> -
        <% if (item.fixture) { %>
          <%- item.fixture %>
        <% } else { %>
          ???
        <% } %>
        : <br/>
        <a href="/<%- item.uuid %>"><%- item.uuid %></a>
        <% if (!item.fixture) { %>
          <a href="<%- item.link %>" style="color: <%- item.status === 'fixed' ? 'orange' : 'red' %>">Missing Details!</a>
        <% } %>
        <% if (item.duplicated) { %>
          <a href="<%- item.link %>" style="color: red">Duplicate UUID!</a>
        <% } %>
      </li>
    <% } %>
  </ul>
</article>
<% include ./partials/footer %>
