<% include ./partials/header %>
<div class="resultContainer col-xs-12">
  <article class="col-xs-12">
    <h2>Unassigned</h2>
    
      <% for(var i = 0; i<data.unassigned.length; i++){%>
        <li class="recent-list">
        <a href="<%- data.unassigned[i][1] %>"><%- data.unassigned[i][0] %></a>
          <br />
          <%- data.unassigned[i][1] %>
        </li>
      <%}%>
    
  </article>
  <article class="col-xs-12">
    <h2>Assigned</h2>
      <% for(var i = 0; i<data.assigned.length; i++){%>
        <li class="recent-list">
          <a href="/<%- data.assigned[i][2] %>"><%- data.assigned[i][0] %> <%- data.assigned[i][1] %></a><br />
          <%- data.assigned[i][2] %> <br />
          </a>
        </li>
      <%}%>
  </article>
</div>
<% include ./partials/footer %>
