<% include ./partials/header %>
<div class="resultContainer">
  <h2 style="padding: 5px">Recently scanned QR codes</h2>
  <article class="subCard">
    <ul class='recent-list'>
      <% for(var i = 0; i <allScans.length; i++){%>
        <% if(allScans[i].fixture) { %>
          <li>
            <a href="/<%- allScans[i].uuid %>"><%- allScans[i].time.toTimeString() %> - <%- allScans[i].fixture %> </a> :<br/>
            <%- allScans[i].uuid %>
          </li>
        <% } else { %>
          <li>
            <a href="/<%- allScans[i].uuid %>"><%- allScans[i].time.toTimeString() %>
             </a>
            <span style="color:<%- allScans[i].status==='fixed'?'orange':'red'%>" >
              :<br/>
              <%- allScans[i].uuid %>
            </span>
          </li>
        <%}%>
      <%}%>
    </ul>
  </article>
</div>
<% include ./partials/footer %>
