<% include ./partials/header %>
<h1>Recently scanned QR codes</h1>
<article class="col-xs-12">
  <ul class='recent-list'>
    <% for (var i = 0; i < allScans.length; i++) { %>
      <li>
        <%- allScans[i].time.toTimeString() %> -
        <% if (allScans[i].fixture) { %>
          <%- allScans[i].fixture %>
        <% } else { %>
          ???
        <% } %>
        : <br/>
        <a href="/<%- allScans[i].uuid %>"><%- allScans[i].uuid %></a>
        <% if (!allScans[i].fixture) { %>
          <a href="<%- allScans[i].link %>" style="color: <%- allScans[i].status === 'fixed' ? 'orange' : 'red' %>">Missing Details!</a>
        <% } %>
        <% if (allScans[i].double) { %>
          <a href="<%- allScans[i].link %>" style="color: red">Duplicate UUID!</a>
        <% } %>
      </li>
    <% } %>
  </ul>
</article>
<% include ./partials/footer %>
