<% include ./partials/header %>
	<div class="resultContainer well col-xs-12">
		<ul class="searchResultList">
			<% for(var i= 1; i < matches.length; i++){ %>
				<li>
					<div class="well col-xs-12">
						<div class="col-xs-2">
							<% if ( matches[i].picture  ===  "") { %>
								<img class="itemImg" src="noImg.png" />
								<% }else{ %>
									<img class="itemImg" src=" <%- matches[i].picture %> " />
									<%}%>
						</div>
						<div class="itemTitle col-xs-8">
							<h4> <a href="/<%- matches[i].uuid %>"> <%- matches[i].fixture.toUpperCase().bold() %> </a> </h4>
							<span> <%- matches[i].model.toLowerCase().italics() %> </span>
						</div>
						<div class="itemImg col-xs-2">
							<% if (matches[i].status  === 'broken') { %>
								<span class="glyphicon glyphicon-wrench" title="Status: <%- matches[i].status %>" alt="<%- matches[i].status %>" style="color:red"></span>
								<% }else if (matches[i].status  === 'working') { %>
									<% }else{ %>
										<span class="glyphicon glyphicon-question-sign" title="Status: unknown" alt="status unknown" style="color:gray"></span>
										<%}%>
						</div>
						<div class="location col-xs-12">
							<span> <%- matches[i].floor.toUpperCase() %> </span> >
							<span> <%- matches[i].room.toLowerCase() %> </span> >
							<span> <%- matches[i].location.toLowerCase() %> </span>
						</div>
					</div>
				</li>
				<%	} %>

		</ul>
	</div>
	<% include ./partials/footer %>
